@import "base"

// HEAD =====================================================
#head
	overflow: hidden

.first-screen
	position: relative

.head-gradient
	position: absolute
	height: 184px
	width: 100%
	background-image: -moz-linear-gradient( 90deg, rgba(34,43,67,0) 0%, rgb(34,43,67) 100%)
	background-image: -webkit-linear-gradient( 90deg, rgba(34,43,67,0) 0%, rgb(34,43,67) 100%)
	background-image: -ms-linear-gradient( 90deg, rgba(34,43,67,0) 0%, rgb(34,43,67) 100%)


.navigation
	position: absolute
	padding:
		right: 51px
		left: 53px
	top: 0
	left: 0
	width: 100%
	height: 103px
	.text-logo
		display: inline-block
		position: relative
		top: -33px
		font-size: 22px
		font-weight: 700
		text-transform: uppercase
		margin-left: 14px
		span
			display: block
			position: relative
			letter-spacing: 0.28px
			top: 2px
			font-size: 13px
			font-weight: 400
	.text.marker
		display: inline-block
		position: relative
		margin-left: 34px
		top: -37px

.first-screen-slider
	height: 97.5vh
	width: 100%

.item-slider
	position: relative

.item-slider-img
	position: absolute
	width: 100%
	height: 100vh
	object-fit: cover

.menu-button
	display: inline-block
	width: 35px
	height: 25px
	position: relative
	cursor: pointer
	top: -49px
	.burger
		display: inline-block
		position: relative
		width: 21px
		height: 2px
		background-color: $white
		&::before
			display: inline-block
			position: absolute
			content: ''
			width: 34px
			height: 2px
			background-color: $white
			transition: $transition-ease
		&::after
			display: inline-block
			position: absolute
			content: ''
			width: 26px
			height: 2px
			background-color: $white
			transition: $transition-ease
		&::before
			top: -10px
			left: 0
		&::after
			bottom: -10px
			left: 0
	.-active
		background: none
		&::before
			top: 0
			transform: rotate(-45deg)
		&::after
			top: 0
			transform: rotate(45deg)

.head-logo
	position: relative
	display: inline-block
	background-color: $blue
	width: 105px
	height: 103px
	margin-left: 58px
	svg
		position: absolute
		width: 60px
		height: 60px
		top: calc(50% - 30px)
		left: calc(50% - 30px)
		fill: $white

.head-options
	margin-top: 30px
	display: inline-block
	float: right
	.btn
		position: relative
		top: -14px
		margin-left: 28px
	.phone
		.link
			text-align: right
			display: block

.promo
	margin:
		top: 265px
		left: 150px
	position: absolute
	max-width: 820px
	.title.-promo
		text-shadow: $text-shadow-head
		margin-bottom: 32px
	.text.-subtitle
		margin-bottom: 30px
	.btn
		margin-bottom: 28px

.fixed-nav
	position: fixed
	display: none
	top: 0
	left: 0
	width: 100%
	padding: 10px
	background-color: $cian
	z-index: 1040
	// .nav-logo
	// 	display: inline-block
	// 	width: 50px
	.text-logo
		display: inline-block
		position: relative
		top: 9px
		font-size: 22px
		font-weight: 700
		text-transform: uppercase
		margin-left: 14px
	.panel-menu
		position: relative
		top: 7px
		margin-left: 60px
		margin-top: 0
		margin-bottom: 0
		padding-left: 0
		display: inline-block
		*
			display: inline-block
	.list
		li
			margin-right: 50px
			padding-left: 0
			margin-bottom: 0
			&:before
				display: none
			a
				transition: $transition-ease
				color: $white
				&:hover
					color: $red
	.head-options
		margin-top: 0
		.btn
			top: 0
//===========================================================/


// COMFORT ==================================================
#comfort
	padding:
		top: 85px
		bottom: 73px
	.title
		margin-bottom: 45px
		span
			display: block

.comfort-wrapp
	border: 5px solid $light-grey
	padding:
		top: 40px
		left: 40px

.comfort-item
	margin-bottom: 30px
	height: 50px
	img
		position: absolute
		width: 50px
		height: 50px
	.text.-thisis
		max-width: 340px
		padding-left: 70px
	.blueprint
		padding-top: 2px
	.sale
		padding-top: 13px
	.building
		padding-top: 13px
	.key
		padding-top: 13px

//===========================================================/

// GALLERY-01 ===============================================
.gallery-wrapp
	overflow: hidden
	position: relative
	border: 0
	border-right: 1px solid $white
	cursor: pointer
	&:hover
		.block-gradient
			opacity: 1
			height: 100%
		.icon-loupe
			bottom: 50%
			transform: translateY(25px)
			opacity: 1
	img
		position: relative
		width: 100%
		height: 100%
		object-fit: cover
		margin-bottom: -1px
	.text.-thisis
		position: absolute
		top: 0
		left: 0
		z-index: 200
		margin:
			top: 40px
			right: 40px
			left: 40px

.icon-loupe
	position: absolute
	fill: $white
	width: 50px
	height: 50px
	z-index: 200
	bottom: -50px
	left: calc(50% - 25px)
	transition: $transition-ease
	opacity: 0

.block-gradient
	top: 0
	left: 0
	position: absolute
	height: 190px
	width: 100%
	background-image: -moz-linear-gradient( 90deg, rgba(34,43,67,0) 0%, rgb(34,43,67) 100%)
	background-image: -webkit-linear-gradient( 90deg, rgba(34,43,67,0) 0%, rgb(34,43,67) 100%)
	background-image: -ms-linear-gradient( 90deg, rgba(34,43,67,0) 0%, rgb(34,43,67) 100%)
	z-index: 100
	opacity: .7
	transition: $transition-ease

.border-none
	border-right: none

//===========================================================/

// REVIEW-ONE ===============================================
.wrapp-align
	text-align: right
	background-color: $light-grey

.wrapp-review
	display: inline-block
	text-align: left
	max-width: 540px
	padding:
		top: 120px
		right: 105px
	.title
		margin-bottom: 20px
		max-width: 230px
	.-medium
		display: inline-block
		padding-left: 20px
		margin:
			top: 20px
			bottom: 30px

.wrapp-form
	background-color: $cian
	padding:
		top: 120px
		bottom: 120px
		left: 140px
	.-title-uprc
		max-width: 400px
	.link
		padding-left: 35px

.icon-uspensky3
	position: absolute
	bottom: 40px
	right: 45px
	fill: #303c5e
	opacity: .9
//===========================================================/


// THISIS ===================================================
#thisis
	padding:
		top: 97px
		bottom: 120px
	.title
		max-width: 710px
		margin-bottom: 70px

.thisis-item
	position: relative
	padding-right: 30px
	margin-bottom: 60px
	height: 164px
	.thisis-item-img
		position: absolute
		width: 86px
		height: 82px
		//background-color: $light-grey
	.text
		padding-left: 115px
	.-subtitle
		margin-bottom: 10px
	.thisis-text
		display: inline-block
		height: 95px
		margin-bottom: 5px
		overflow: hidden
//===========================================================/


// PAY ======================================================
.wrapp-pay
	display: inline-block
	text-align: left
	max-width: 540px
	padding:
		top: 120px
		right: 105px
	.title
		margin-bottom: 40px
		max-width: 320px
	.-subtitle
		margin:
			top: 60px
			bottom: 30px
	.vtb24-logo
		padding: 0 25px
	.list
		li
			margin-bottom: 15px

.wrapp-form
	.-border-left
		max-width: 360px
	.-form
		margin-top: 25px
		max-width: 430px
//===========================================================/


// DEAL =====================================================

//===========================================================/


// STRUCTURE ================================================
#structure
	padding:
		top: 120px
		bottom: 120px
	.title
		max-width: 500px
		margin-bottom: 60px
	.text.-thesis
		max-width: 500px
		margin-top: 11px
		display: inline-block
		padding-left: 82px
	.btn
		margin-top: 30px

.structure-item
	margin-bottom: 30px

.romb-icon
	position: absolute
	display: inline-block
	width: 60px
	height: 70px
	img
		position: absolute
	span
		position: absolute
		top: calc(50% - 13px)
		left: calc(50% - 5px)

//===========================================================/


// STRATEGY =================================================
#strategy
	padding:
		top: 95px
		bottom: 120px
	.title
		max-width: 950px
		margin-bottom: 60px
	.text.-subtitle
		margin-bottom: 30px

.strategy-item
	position: relative
	margin-bottom: 66px
	svg
		position: absolute
		width: 75px
		height: 75px
	.text.-title-uprc
		display: inline-block
		margin-bottom: 0
	.text
		display: inline-block
		padding-left: 100px

.strategy-info
	.text
		margin-bottom: 25px
//===========================================================/


// GALLERY-02 ===============================================
.gallery02-title
	.title
		margin-bottom: 50px
	.link
		position: relative
		margin-right: 30px
		transition: $transition-ease
		&:last-child
			margin-right: 0

.link.active
	color: $red
	&::after
		position: absolute
		display: inline-block
		content: ''
		background: url("../img/svg/next-red.svg") 0 0 no-repeat
		width: 20px
		height: 20px
		transform: rotate(90deg)
		bottom: -30px
		left: calc(50% - 10px)

.gallery02-gradient
	position: absolute
	background-image: -moz-linear-gradient( 90deg, rgb(34,43,67) 0%, rgba(34,43,67,0) 100%)
	background-image: -webkit-linear-gradient( 90deg, rgb(34,43,67) 0%, rgba(34,43,67,0) 100%)
	background-image: -ms-linear-gradient( 90deg, rgb(34,43,67) 0%, rgba(34,43,67,0) 100%)
	bottom: 0
	left: 0
	width: 100%
	height: 436px
	z-index: 100

.gallery-wrap
	margin-top: 45px
	position: relative
	text-align: center

.gallery-item
	img
		width: 100%
		height: 100vh
		object-fit: cover
	.text.-thesis
		position: absolute
		display: block
		max-width: 770px
		bottom: 114px
		left: calc(50% - 385px)
		z-index: 200

//===========================================================/


// FACT =====================================================
#fact
	position: relative
	padding-bottom: 120px
	background: url("../img/fact-background.jpg") 0 0 no-repeat
	background-size: cover
	padding:
		top: 80px
	.fact-gradient
		background-image: -moz-linear-gradient( 90deg, rgb(34,43,67) 0%, rgba(34,43,67,0) 100%)
		background-image: -webkit-linear-gradient( 90deg, rgb(34,43,67) 0%, rgba(34,43,67,0) 100%)
		background-image: -ms-linear-gradient( 90deg, rgb(34,43,67) 0%, rgba(34,43,67,0) 100%)
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 196px
	.btn-wrapp
		text-align: center
		margin-top: 30px

.fact-title
	margin-bottom: 10px
	.fact-logo
		position: absolute
		display: inline-block
		width: 138px
		height: auto
	.title
		display: inline-block
		position: relative
		top: 20px
		max-width: 630px
		padding-left: 180px


.fact-item
	margin-top: 50px
	background-color: rgba($white, .9)
	padding:
		top: 40px
		right: 50px
		bottom: 40px
		left: 48px
	.text.-title-uprc
		text-align: center

.fact-info
	max-width: 316px
	//min-height: 293px
	margin-bottom: 36px
	.text.-subtitle
		margin-bottom: 10px

.letters
	position: relative
	padding: 9px
	overflow: hidden
	cursor: pointer
	&:hover
		.blackout
			top: 0
			opacity: 1
		.icon-loupe
			bottom: 50%
			transform: translateY(25px)
			opacity: 1
	img
		position: relative
		width: 100%
		height: 100%
		object-fit: cover
		z-index: 50
	.letters-border
		position: absolute
		top: 0
		left: 0
		z-index: 100
	.blackout
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		transition: $transition-ease
		cursor: pointer
		background-color: rgba($cian,.7)
		opacity: 0
		z-index: 200
	.icon-loupe
		position: absolute
		width: 50px
		height: 50px
		bottom: -50px
		left: calc(50% - 25px)
		z-index: 300
		transition: $transition-ease


//===========================================================/


// DOCUMENTS ================================================
#documents
	padding:
		top: 80px
		bottom: 80px
	.title
		margin-bottom: 50px
	.documents-link
		margin-top: 50px
		text-align: center

.documents-item
	.text
		margin-top: 10px
		text-align: center
//===========================================================/


// REVIEW-TWO ===============================================

//===========================================================/


// MAP ======================================================
.my-map
	position: relative
	width: 100%
	height: 100%

.map-contact
	position: absolute
	width: 350px
	height: 320px
	background-color: $cian
	top: 0
	left: 200px
	z-index: 2
	padding:
		top: 30px
		right: 20px
		left: 40px
	margin-top: 118px
	.text.-title-uprc
		margin-bottom: 20px
	.text.marker
		line-height: 23px
		margin-bottom: 20px
	.text.marker::before
		position: absolute
		display: inline-block
		content: ''
		width: 18px
		height: 26px
		top: 5px
		left: 0
	.text.phone
		font-size: 18px
		line-height: 23px
		margin-bottom: 30px
	.text.phone::before
		position: absolute
		display: inline-block
		content: ''
		width: 17px
		height: 27px
		top: -3px
		left: 0
	.link
		display: block
		margin-top: 20px
//===========================================================/


//FOOTER=====================================================
#footer
	background-color: $cian
	padding:
		top: 90px
		bottom: 90px
	svg
		width: 66px
		height: 66px
		fill: $white
	.text.text-logo
		display: inline-block
	.footer-logo
		display: inline-block
		position: relative
		top: -16px
		font-size: 22px
		font-weight: 700
		text-transform: uppercase
		margin-left: 14px
		span
			display: block
			position: relative
			letter-spacing: 0.28px
			top: 2px
			font-size: 13px
			font-weight: 400

.footer-options
	float: right
	margin-top: 11px
	.text.phone
		position: relative
		margin-right: 30px
		top: 5px

//===========================================================/


//FLAT_SECTION01 ============================================
#flat-section01
	padding:
		top: 24px
		bottom: 35px

.flat-sec01
	.btn
		background: #ebedf0
		color: #919294
		padding:
			left: 30px
			right: 30px
		margin-left: 25px
		&:first-child
			margin-left: 0
	.btn.active
		background: $red
		color: $white
	.link
		position: relative
		top: 13px
		float: right

.sidebar-sec01
	.text.-subtitle
		margin:
			top: 50px
			bottom: 68px
	.btn
		width: 223px
		text-align: left
		margin-bottom: 20px
		&::after
			position: absolute
			display: inline-block
			content: ''
			width: 18px
			height: 18px
			top: calc(50% - 9px)
			right: 20px
			transform: rotate(0deg)
			background-image: url("../img/svg/next-white.svg")
			background-repeat: no-repeat
	.list
		li
			a
				font-size: 18px
				color: $red
				&:visited
					color: $red

.flat-sec01-item
	position: relative
	.compas
		position: absolute
		top: 0
		right: 0
	.text
		text-align: center
	.text.-subtitle
		margin-bottom: 36px
	.text.-thesis
		margin-bottom: 33px
	.text.-thesis.--star
		max-width: 440px
		margin: 0 auto
		margin-top: 33px
	.loor-plan
		position: relative
		&::after
			position: absolute
			display: inline-block
			content: 'ул. Глеба Успенского'
			font-family: $default-font
			font-size: 18px
			transform: rotate(90deg)
			top: 50%
			right: -13%

//===========================================================/


//FLAT_SECTION02 ============================================
#flat-section02
	padding:
		top: 40px

.flat-sec02
	position: relative
	margin-bottom: 60px
	.btn.-zero
		float: left
		padding:
			top: 18px
			right: 33px
			left: 50px
		color: $font-color
		height: 54px
		font-size: 18px
		&:hover
			color: $white
		&::after
			position: absolute
			display: inline-block
			content: ''
			width: 18px
			height: 18px
			top: calc(50% - 9px)
			left: 22px
			transform: rotate(180deg)
			background-image: url("../img/svg/next.svg")
			background-repeat: no-repeat
	.text.-subtitle
		text-align: center
	.icon-close
		position: absolute
		top: 0
		right: 0
		width: 20px
		height: 20px
		transition: $transition-ease
		&:hover
			transform: rotate(-180deg)

.sidebar-sec02
	.text.-subtitle
		margin-bottom: 20px
	.text-wrapp
		height: 50px
		.text
			line-height: 50px
	.btn
		width: 324px
		padding:
			left: 38px
			right: 38px
		margin:
			top: 16px
	.btn.cian
		background: $cian

.purchase-options
	margin-top: 40px
	.list
		li
			margin-bottom: 13px
	.text
		margin-bottom: 30px

.flat-sec02-item
	text-align: center
	img
		margin-top: 72px
//===========================================================/


// ВСЕГДА В	КОНЦЕ ===========================================
//===========================================================/
@import "media"
